
@import "ember-bootstrap/bootstrap";

header {
  background: #eee;
}
header.navbar {
  border-bottom: 1px solid #aaa;
  margin-bottom: 1.5rem;
}
#contacts-sidebar {
  h3 {
    margin-bottom: 1rem;
  }
  #contact-listing {
    margin-bottom: 1rem;
    a {
      text-align: left;
    }
  }
}
.sidebar {
  margin-bottom: 1rem;
}
.full-contact {
  h2 {
    font-size: 1.8rem;
  }
  img.gravatar {
    height: 70px;
    width: 70px;
    margin-right: 1rem;
  }
}
.inspector {
  background-color: #ccc;
  border: 1px solid #aaa;
  border-radius: 0.25rem;
  padding: 0.8rem;

  h3 {
    font-size: 1.5rem;
  }
  .btn-group-vertical, .btn-group {
    button {
      font-size: 0.9rem;
    }
    margin-bottom: 0.5rem;
  }
  .note {
    font-size: 0.7rem;
  }
  .queue {
    height: 7rem;
    overflow-y: scroll;
    border: 1px solid #aaa;
    background-color: #fff;
    ul {
        padding: 0 0.3rem;

      li {
        padding-left: 0;
        list-style-type: none;
        border-bottom: 1px solid #ccc;
        text-overflow: clip ellipsis;
        white-space: nowrap;
      }
    }
  }

  .btn-group, .queue {
    margin-bottom: 1rem;
  }
}
