html, body {
}
header {
  background: #eee;
}
header.navbar {
  border-bottom: 1px solid #aaa;
}
.sidebar {
  margin-bottom: 20px;
}
.sidebar h3 {
  margin-top: 0;
}
img.gravatar {
  height: 100px;
  width: 100px;
}
