<header class="navbar navbar-static-top" role="banner">
  <div class="container">
    {{#link-to "contacts" class="navbar-brand"}}Peeps{{/link-to}}
  </div>
</header>
<div class="container" id="content">
  {{outlet}}
</div>
