<div class="row">
  <div class="col-sm-3 bd-sidebar" id="contacts-sidebar">
    <div class="container">
      <h4 class="d-flex justify-content-between">
        All contacts
        {{#link-to "contacts.new" type="button" class="btn btn-secondary btn-sm"}}
          Add
        {{/link-to}}
      </h4>
    </div>
    <ul class="nav flex-column list-group nav-pills nav-fill" id="contact-listing">
      {{#each model as |contact|}}
        <li class="nav-item">
          {{#link-to "contact" contact class="nav-link"}}
            {{contact.fullName}}
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  </div>

  <div class="col-sm-7">
    {{outlet "detail"}}
  </div>

  <div class="col-sm-2 bd-sidebar">
    {{request-queue sourceName="remote"}}
  </div>
</div>
